@import url(./font.css);
@import url(../partials/variable.css);
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif, ;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(253, 92, 92), rgb(251, 1, 251));
    clip-path: circle(22% at left 20%);
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(95, 92, 253), rgb(143, 5, 143));
    clip-path: circle(25% at right 60%);
    z-index: -1;
}
body{
    background:linear-gradient( rgb(253, 130, 92), rgb(251, 173, 251) );
    margin-top: auto;
   
    
}
.col{
    position:relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}
.col .card{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
    height: 85vh;
    box-shadow: 5px 2px rgb(15, 0, 0, 0.2);
    z-index: dep;
    background: rgba(162, 0, 255, 0.2);
    border-top: 1px solid(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    margin-top: 90px;
    overflow-y: scroll;
    
}
.col .second-card{
    width: 100%;
}

.hide{
    display: none;
}
.col{
    min-height: 80vh;
}
.my-image{
    min-height: 250px;
    min-width: 250px;
    max-width: 300px;
    max-height: 300px;
    opacity: 0.99;
    border-radius: 10px;
    border: 1px solid rgba(235, 194, 194, 0.5);
    position: initial;
    box-shadow: 2px, 2px rgba(255, 255, 245, 0.8);
    float: left;
    margin-right: 40px;
 

   
}

.my-image:hover{
    box-shadow: 5px 2px rgba(55, 55, 56, 0.5);
    transform: translate(-1%,-1%);
    opacity:0.9
}
.text{
    margin: 10px;
    padding: 20px;
}
p{
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto';
}
.card-header{
    all: unset;  
   display: inline-block;
   text-align: justify;
   word-break:  unset;
}
.card{
    padding: 10px;
}
.hello{
    margin-left: 50%;
}
.float-right{
    text-align: justify;
    float: right;
    justify-content: space-around;
    text-align: left;
    
}
@media (max-width:430px){
.card-header{
    display: flex;
    flex-direction: column;
    word-break: keep-all;
}
p{font-size: 16px;}
.hello{
    margin-top: 20px;
    margin-left: 20%;
    text-decoration: underline;
}
.about-me{
    margin-left: 50%;
}
.my-image{
    border-radius: 50%;
}
}
.contact{
height: fit-content;
margin-top: 5%;
transform: translate(0%, -90%);

}
@media (max-width:600px){
    .contact{
        transform: translate(0%, 50%);
    }
    .about-me{
        margin-left: 20%;
    }
}
@media (max-width:375px){
    .social-media ul li{
        display: flex;
        flex-direction: row;
        transform: translate(500%, 0%);
        align-self: center;
    }
    .connect-me{
        margin-left: 0%;
        transform: translate(-20%, 0%);
    }
    .card{
        margin-top: 300px;
    }
}
@media (min-width: 375px){
    .card{
        margin-top: 300px;
    }
}
@media(max-width:1165px){
    .social-media ul{
        display: flex;
        flex-direction: row;
        transform: translate(-120%, 0%);
    
    }
}
@media (max-width:1145px){
    .social-media ul li{
        display: flex;
        flex-direction: row;
        transform: translate(500%, -250%);
        align-self: center;
    }
    
}
@media (max-width:991px){
    .social-media ul li{
        display: flex;
        flex-direction: row;
        transform: translate(30%, -30%);
        align-self: center;
    }
    
}
@media (max-width:390px){
    .social-media ul li{
        display: flex;
        flex-direction: row;
        transform: translate(-200%, -30%);
        align-self: center;
        align-items: center;
    }
    
}
@media (max-width:375px){
    .social-media ul li{
        display: flex;
        flex-direction: row;
        transform: translate(550%, -100%);
        align-self: center;
        align-items: center;
    }
    
}
@media (max-width:1035px){
    .social-media ul {
        display: flex;
        flex-direction: row;
        transform: translate(550%, -100%);
        align-self: center;
        align-items: center;
    }
    
}
@media (max-width:1145px){
    .social-media ul {
        display: flex;
        flex-direction: row;
        transform: translate(550%, -100%);
        align-self: center;
        align-items: center;
    }
    
}
.contact ul li {
    list-style-type: none;
    display: block;
}
.card-body{
    all: unset;
}
.html-logo{
color:orangered;
box-shadow: 5px, 1px orchid;
}
.css-logo{
color:rgb(111, 0, 255);
box-shadow: 5px, 1px orchid;
}
.nodejs-logo{
    color: rgb(21, 128, 26);
}
.database-logo{
    color: #1877f2;
}
.bootstrap-logo{
    color: #563d7c;
}
.js-logo{
 color:   #f0db4f;
}
.connect-card .social-media ul li {
display: flex;
flex-direction: row;
flex-wrap: wrap;
     
}
/* nav area starts here*/
.header{
    position: fixed;
    z-index: 2;
    width: 100vw;
    
}
.header .main-menu .navbar{
    padding: 0rem 1.75rem 0 5rem;
    background-color: whitesmoke;}


    

.header .main-menu .nav-item .nav-link{
    font-family:"times New Roman', Times, serif", normal;
    text-transform: uppercase;
    margin-right: 50px;
    font-weight: 500;
    padding: 1.75rem;
    color: black;}

@media (max-width:375px){
    .header .main-menu .nav-item .nav-link{
        margin-right: 0px;
        width: 100%;
    }
    .text{
        margin: 0px;
        padding: 0px;
    }
    .header{
        width: 100%;
    }
    .col .card {
        margin-top: 115px;
        width: 98vw;
    }
}
@media (max-width:480px){
    .header .main-menu .nav-item .nav-link{
        margin-right: 10px;
        
    }
    .text{
        margin: 0px;
        padding: 0px;
    }
}
@media (max-width:550px){
    .header .main-menu .nav-item .nav-link{
        margin-right: 10px;
        
    }
    .text{
        margin: 0px;
        padding: 0px;
    }
}
@media (max-width:770px){
    .header .main-menu .nav-item .nav-link{
        margin-right: 10px;
        
    }
    .text{
        margin: 0px;
        padding: 0px;
    }
}
.header .main-menu .navbar-nav .active a{
    background:linear-gradient(90deg,#4458dc 0%, #854fee 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background:linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;}

.header .main-menu a .text{
    background:linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* nav area ends here*/
/* main area starts here*/






.main-cintainer{
    padding: 0px;
    margin-left: 0rem;
    position: fixed;
    overflow-y: scroll;
    background:no-repeat linear-gradient( rgb(253, 170, 92), rgb(251, 173, 251) );
}






.about-me{ 
    text-shadow: 1px 1px  #854fee;
    margin-left: 50%;
}
@media(max-width:375px){
    .about-me{
        color: white;
        margin-left: 80px;
        transform: translate(25%, 0%);
    }
    .hello{
        margin-right: 80px;
        word-break: keep-all;
        margin-left: auto;
        color: whitesmoke;
        text-align:center;
        transform: translate(-60%, 0%);
    }
}

/* right section starts */

.connect-me{
    text-shadow: 1px 1px #854fee;
    margin-left: 0;
}
.connect{
    margin-left: 30%;
}
.right .social-media ul{
    display: block;
    list-style: none;
    position: absolute;
    border-radius: 50px;
    transform: translate(-90%, 0%);
    

}
.right .social-media ul li{
    display:inline-block;
    margin:20px;
    padding:0px;
    background: linear-gradient(rgb(253, 170, 92), rgb(251, 173, 251) 0.9);

}
.right .social-media ul li .fa{
    position: relative;
    margin-top: 20px;
   font-size: 50px;
   line-height: 300px; 
   transition: 1s;
   text-align: center;
}
.right .social-media ul li a{
    line-height: 50px; 
    position: relative; 
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,.5);
    text-align: center;
    cursor: pointer;
}
.right .social-media ul li a:hover{
    transform: translate(0, -10px)
}
.right .social-media ul li:nth-child() a:hover{
    background-color: #1877f2;
    color: white;
}

.right .social-media ul li:nth-child() a:hover{
    background-color: #c32aa3;
    color:rgb(224, 210, 210);
}

.right .social-media ul li:nth-child(1) a:hover{
    background-color: #007bb5;
    color: whitesmoke;
}

.right .social-media ul li:nth-child(2) a:hover{
    background-color: black;
    color: white;
}

.right .social-media ul li:nth-child(3) a:hover{
    background-color: #1da1f2;
    color: white;
}


/* right section ends here */


/* personal section*/
.personal{
    padding: 20px;
    margin: 0px;
}

.personal li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}
.personal .bar{
    display: block;
    background: white;
    height: 30px;
    width: 320px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    
}
/* background images*/
.about{
    background:url(about.jpg) no-repeat;
    background-size: cover;
}
.hobie{
    background: url(hobbies.jpg) no-repeat;
    background-size: cover;
}
.food{
    background:url(food.jpg) no-repeat;
    background-size: cover;
}
.bucket{
    background: url(canyon.jpg) no-repeat;
    background-size: cover;
}
/* background images*/

/* about*/

.bar span{
    height: 30px;
    float: left;
    background: linear-gradient(90deg,#4458dc 0%, #854fee 100%);
}
.life{
    width: 40%;
}
.education{ 
    width: 100%;
}
.current{
    width: 55%;
    
}
/* hobbies*/
.bar .hobbies{
    height: 30px;
    float: left;
    background: linear-gradient(90deg,green 0%,limegreen 100%);
}
.hiking{
    width: 75%;
}
.fishing{
    width: 60%;
}
.adventure-sports{
    width: 95%;
}
.volleyball{
    width: 95%;
}
.motorsports{
    width: 55%;
}
/*foods*/
.bar .food{
    height: 30px;
    float: left;
    background: linear-gradient(90deg, orange 0%, yellow 100%);
}
.chinese{
    width:40%;
}
.indian{
    width:80%;
}
.mediterranean{
    width:60%;
}
.italian{
    width:50%;
}
.mexican{
    width:70%;
}
/*bucket-list*/
.bar .bucket-list{
    height: 30px;
    float: left;
    background:linear-gradient(90deg, red 0%, orange 100%)
}
.skydive{ 
    width: 95%;
}
.grand-canyon{ 
    width: 90%;
}
.norway{ 
    width: 85%;
}
.bungee{ 
    width: 90%;
}
.hawaii{ 
    width: 100%;
}
.bar:hover{
    box-shadow: 0 0 10px rgb(246, 169, 150);
    font-size: 1.3rem;
}


/* personal section*/
/*portfolio area strts here*/

@media(max-width:375px){
    .port-social{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transform: translate(-400%, -70%);
    }
    .port-contact{
        transform: translate(0%, 50%);
    }
    .card{
        height: fit-content;
        width: auto;
    }
}


.folio-image{
    height: 240px;
    width: 240px;
    box-shadow: 2px 2px plum;
    border-radius: 10px;
    opacity: 0.9;
    object-fit: cover;
}
.app-img{
    align-self: center;
    height: 340px;
    width: 340px;
}
.app-card{
    align-items: center;
    justify-content: center;
}
.folio-image:hover{
    transform: translate(2%, 2%);
    border: 2px solid rgb(250, 31, 250);
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(rgb(253, 170, 92), rgb(251, 173, 251 ) 0.4) ;

}
.my-name{
    font-size: 2rem;
    text-shadow: #4458dc;
    font-weight: 600;
}
 .social ul li{
    display:inline-block;
    margin:20px;
    padding:0px;
    background: linear-gradient(rgb(253, 170, 92), rgb(251, 173, 251) 0.9);

}
.social ul li .fa{
    position: relative;
    margin-top: 20px;
   font-size: 50px;
   line-height: 300px; 
   transition: 1s;
   text-align: center;
}
 .social ul li a{
    line-height: 50px; 
    position: relative; 
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,.5);
    text-align: center;
    cursor: pointer;
}
 .social ul li:nth-child(1) a:hover{
    background-color: #007bb5;
    color: whitesmoke;
}

 .social ul li:nth-child(2) a:hover{
    background-color: black;
    color: white;
}

.social ul li:nth-child(3) a:hover{
    background-color: #1da1f2 ;
    color: white;
    
}

/*portfolio area ends here*/
/*contact area starts here*/
.contact-section{
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    padding:40px 0;
    z-index: 1;
}
.contact-section h1{
    text-align: center;
}
.line{
    width: 200px;
    height: 10px;
    background: linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    margin: 40px auto;
    opacity: 0.8;

}
.contact-form{
    all: unset;
    max-width: 650px;
    padding: 0 10px;
    overflow: hidden;
    outline: none;


}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    padding: 20px 40px;
    color:white;
    outline: none;
    font-size: 18px;
    font-weight:500;
    transition: 0.6s;
    border-radius: 10px;
}
.contact-form-text:focus{
box-shadow: 0 0 10px 4px rgb(142, 143, 247);
}
textarea.contact-form-text{
    resize: none;
    height: 120px;

}
.button-primary{
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    width: 80px;
    float: right;
    border: 0;
    background: linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    color: whitesmoke;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 12px;
    z-index: 2;
}
.button-primary:hover{
    background: azure;
    color: rgb(138, 10, 243);
    
}


/*contact area ends here*/




/* main area ends here*/


/* footer starts here*/
.page-footer{
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 10px;
}


/* footer ends here*/
/*projects site*/


